node_modules/**/*
node_modules/*
coverage/**/*
coverage/*
jasmine/**/*
jasmine/*
js/**/*
js/*
dist/**/*
dist/*
font-awesome/**/*
font-awesome/*
bootstrap/**/*
bootstrap/*
gulpfile.js
karma.conf.js
font-awesome/scss/_path.scss
font-awesome/scss/_stacked.scss
font-awesome/scss/*
