<html ng-app='InvertedIndex'>
	<head>
		<title>
			Inverted Index

		</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Basic Bootstrap Template</title>
	    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
	    <!-- Optional Bootstrap theme -->
	    <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" type="text/css" href="../font-awesome/css/font-awesome.min.css">


		<script type="text/javascript" src="./js/angular.min.js"></script>
		<script type="text/javascript" src="./src/inverted-index.js"></script>
		<script type='text/javascript' src="./js/app.js"></script>
		<script type='text/javascript' src="./js/controller.js"></script>

	</head>
	<body ng-controller="testangular">

    <div class='container'><nav class="navbar navbar-inverse"></nav></div>
		<div class="container">
    	<div class="row">
    		<div class='col-md-4'></div>
    		<div class='col-md-8'></div>
    	</div>
    	<div class="row">
        <div class='col-md-4'>

        <div class ="row">
        <label class="btn btn-default btn-file">
        	<input type="file" id="upload" accept=".json" multiple/>
        <button class="btn btn-default" ng-click = "uploader()">Upload File</button>
        </label>
      </div>
      <div class ="row">
            <input class="btn btn-default" type="button" ng-click="getter()" value='Create Index'>
      </div>
      <div class='row'>
            <input type="text" id="search" ng-model="sString">
            <button class="btn btn-default" ng-click="searchy()">Search Index</button>
            <button class="btn btn-default" ng-click="clearSearch()" ng-show='showSearch'>Clear Search</button>
          <!-- </p> -->
        </div>
     		</div>
        <div class="col-md-8">

          <table  class ='table' ng-show='showIndex'>
            <thead>
              <th>Word</th>
              <th ng-repeat='title in titles'>{{title}}</th>
            </thead>
            <tbody>
              <tr ng-repeat="(key, val) in array">
                <td>{{ key }}</td>
                <td ng-repeat-start='i in length' ng-if='val[i]'><i class="fa fa-check" aria-hidden="true"></i></td><td ng-repeat-end ng-if='!val[i]'>
                </td>
              </tr>
            </tbody>
          </table>
          <table  class ='table' ng-show='showSearch'>
            <thead>
              <th>Word</th>
              <th ng-repeat='title in titles'>{{title}}</th>
            </thead>
            <tbody>
              <tr ng-repeat="(key, val) in searchString">
                <td>{{ key }}</td>
                <td ng-repeat-start='i in length' ng-if='val[i]'><i class="fa fa-check" aria-hidden="true"></i></td><td ng-repeat-end ng-if='!val[i]'>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
				</div>
			</div>
      <div class="row">

      </div>
		</div>




	</body>

</html>
